body {
    line-height: 1.7;
    font-family: 'Verdana';
    }
#pub-body {
	margin: auto;
	text-align: left;
	width: 60vw;
}
.topnav {
	overflow: hidden;
	width: 100vw;
}
.nav-left {
	
}
    h1 {
	text-align: center;
    }
    a {
    color: blue;
    text-decoration:none;
    transition: 0.1s;
    }
    a:hover{
    color: LightBlue;
    }
    
    * {
  	box-sizing: border-box;
   }
   .row:after {
 	 content: "";
 	 display: table;
 	 clear: both;
    }
    
    .column {
    float: left;
    padding: 15px;
    }
    .left {
    width:33%;
    }
.right {
    width:67%;
    }
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    @media screen and (max-width: 700px) {
  		.column {
    		width: 100%;
  		}
	}
    .shaded {
    	background-color: rgb(245,245,245);
       background-image: linear-gradient(to top right, rgb(245,245,241), rgb(241,241,249));
    }
    p {
     color: rgb(9,9,9);
    }
    .card-simple {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 3px;
    margin-top: 20px;
    padding: 15px 20px;
}
.article-metadata {
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: .03em;
    color: rgba(0, 0, 0, .54);
}
